
.wp-block-three-object-block {
	border: 1px dotted #f00;
}

.wp-block-three-object-viewer-environment.alignfull {
	position: relative;
	top: 0;
	bottom: 0;
	// look into why this was formerly 105%
	width: 100%;
	height: 100vh;
}

.wp-block-three-object-viewer-environment .components-popover__content{
	margin-right:-160px;
}

.pixel-modal .components-button {
	background-color: white;
	box-shadow: #0000005e 0px 5px 21px;

}

#VRButton{
	position: fixed !important;
	bottom:auto !important;
	background-color: #230d006a;
	margin-top: -50px !important;
}

.threeov-networking-controls {
	//initializes hidden
	display: none;

	#session-id {
		font-size: .75em;
	}

	.button {
		background-color: #b7ff00;
		border-radius: 20px;
		padding: 5px 10px;
		border: 1px solid #98d400;
		// add dropshadow
		// box-shadow: 0px 0px 5px 1px #0000005e;
		color: white;
		cursor: pointer;
		margin-top: 3px !important;
		color: #451a00;
		font-weight: 600;
		float:left;
		margin-right: 5px;
		letter-spacing: 0.01em;
		max-width:75px;
	}
	
	.button:hover {
		background-color: #ccff4c;
		border: 1px solid #98d400;
		// add dropshadow
		box-shadow: 0px 0px 5px 1px #7f7f7f5e;
		color: white;
		cursor: pointer;
		color: #451a00;
		font-weight: 600;
	}

	position: absolute;
	top: 20px !important;
	left: 20px;
	background-color: rgb(92 90 90 / 51%) !important;
	// background-color: rgba(34, 34, 34, 0.677) !important;
	z-index: 1000;
	width: 250px;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 8px;
	color: white;
}

.threeov-entry-flow {
	background-color: #212121f4;
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 0px 17px 5px rgb(15 0 0 / 57%);
}

.threeov-entry-flow input {
	border-radius: 10px;
	margin-top: 10px !important;
	min-height: 30px;
	padding-left: 10px;
}

.threeov-entry-flow input:focus {
	// border: 1px solid #b7ff00;
	outline: #b7ff00 solid !important;
}

.glb-preview-container {
	padding: 100px;
	text-align: center;
	align-items: center;
	align-content: center;
	background-color:#f2f2f2;
	height: 773px;
	box-sizing: border-box;
	padding-left: 230px !important;
}

.glb-preview-container button{
	padding: 15px;
	border-radius: 30px;
	padding: 5px !important;
	border-radius: 30px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.three-object-viewer-button {
	font-size: 12px !important;
	color: black;
	border: solid 1.5px black;
	border-radius: 8px;
	cursor: pointer;
	max-height: 30px !important;

}

.three-text-block-inner-wrapper{
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;
}

.wp-block-three-object-viewer-sky-block,
.wp-block-three-object-viewer-model-block,
.wp-block-three-object-viewer-npc-block,
.wp-block-three-object-viewer-three-image-block,
.wp-block-three-object-viewer-three-audio-block,
.wp-block-three-object-viewer-three-light-block,
.wp-block-three-object-viewer-three-portal-block,
.wp-block-three-object-viewer-three-video-block,
.wp-block-three-object-viewer-three-networking-block,
.wp-block-three-object-viewer-spawn-point-block,
.wp-block-three-object-viewer-three-text-block  {
	display: flex;
	float: left;
	padding-left:10px !important;
	height: auto;
	padding-right: 10px !important;
	// background-color: rgb(42, 42, 42);
}

.wp-block-three-object-viewer-environment .block-editor-inner-blocks {
}

// .wp-block-three-object-viewer-environment {
// 	width: 100vw;
// }

.wp-block-three-object-viewer-environment .block-editor-inner-blocks.iframe {
	height: 100vh;
}

.wp-block-three-object-viewer-environment .block-editor-inner-blocks:not(.iframe) {
	height: 90vh;
}


.three-object-viewer-edit-panel .wide-slider {
	display: block;
}

.three-object-environment-edit-container .threeov-three-number-settings {
	display: flex;
}


.three-object-viewer-component-container {
	display: flex;
	flex-direction: column;
}
.three-object-viewer-component-container p {
	font-size: 0.6em;
}

.three-object-viewer-inner-edit-container p{
	margin: 0 auto;
}
.three-object-viewer-inner-edit-container .three-object-viewer-model-name {
	font-size: 0.7em;
}

.three-object-viewer-inner-edit-container {
	display: flex;
}

.three-object-viewer-inner {
	z-index:1;
	flex: 1;
	background-color: #3f3f3f;
	color: white;
	box-sizing: border-box;
	margin-bottom: 1px;
	margin-top: 1px;
	max-width: 180px;
	width: 180px;
	max-height: 40px;
	height: 40px;
	font-size: 0.8em;
	text-align: center;
	border-radius: 8px;
	box-shadow:0px 1px 5px 1px #1e1e1e;
	display: flex;
	padding-left: 10px;
	padding-top: 5px;
}

div:has(> .three-object-viewer-component-container, > .three-object-viewer-inner) {
	margin: 0px !important;
}


.three-object-viewer-inner svg, .three-object-viewer-component-container svg {
	height: 20px;
	filter: invert(88%) ;
	display: flex;
	padding-right: 5px;
	padding-top: 5px;
}

.three-object-viewer-inner p {
	font-size: 0.8em;
	margin: 0;
	display: flex;
	padding-top: 5px;
}

.wp-block-three-object-viewer-environment .block-editor-inner-blocks .block-editor-button-block-appender {
	width: 60px;
	height: 60px;
}

.wp-block-three-object-viewer-environment .block-editor-inner-blocks .block-editor-button-block-appender svg{
	width: 40px;
	height: 40px;
}
.wp-block-three-object-viewer-environment .block-editor-inner-blocks .block-editor-button-block-appender{
	margin: 0px 0px -60px;
	right: 0;
	position: absolute;
	background-color: #8e00f2;
	color: white;
}

.wp-block-three-object-viewer-environment:has(> .block-editor-inner-blocks) {
	// display: flex !important;
}

.wp-block-three-object-viewer-environment {
	// display: flex !important;
	// background-color: rgb(42, 42, 42);
	background-color: #FFFFFF;
}

.stats {
	margin-top: 200px !important;
}

.glb-preview-container button:hover{
	border-radius: 30px;
	background-color:rgb(156, 199, 0);
	cursor: pointer;
}
.three-object-block-tip {
	overflow-wrap: break-word;
	background-color: black;
	color: white;
	padding: 10px;
	font-weight: 500;
	max-width: 160px;
	font-size: 12px;
	margin-top: 0px;
	margin: 0 auto;
	text-align: center;
}

.threeov-chat-button {
	position: absolute !important;
	top: 0px !important;
	z-index: 100;
}
.threeov-chat-container {
	background-color: rgba(0,0,0,.8) !important;
	z-index: 1001 !important;
	width: 100% !important;
	padding: 0px !important;
	margin-left: -8px !important;
}


.three-object-block-url-input {
	padding-bottom: 20px;
}

.three-object-block-url-input input {
	height: 40px;
}

.threeov-spinner {
	margin-top:-40px;
	border: 8px solid #f3f3f3;
	border-top: 8px solid #007bff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes move {
	0%{
	transform: translateZ(-500px) rotate(0deg);
	}
	100%{
	transform: translateZ(500px) rotate(0deg);
	}
}

@keyframes fade {
	0%{
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

.threeov-entry-scene{
	display: inline-block;
	vertical-align: middle;
	perspective: 6px;
	perspective-origin: center;
	position: relative;
	background-color: #FFFFFF !important;
}

.threeov-entry-scene-parent {
	background: radial-gradient(circle, transparent, transparent 10%, white 2%);
	width: 100% !important;
	height: 100vh;
	position: fixed;
	z-index: 100;
}

.threeov-entry-wrap{
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: -500px;
	top: -500px;
	transform-style: preserve-3d;
	animation: move 4s infinite linear;
	animation-fill-mode: forwards;
}

.threeov-entry-wrap:nth-child(2){
	animation: move 4s infinite linear;
	animation-delay: 6s;
}

.threeov-entry-wall {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	animation: fade 2s infinite linear;
	animation-delay: 0;
}

.threeov-entry-wrap:nth-child(2) .threeov-entry-wall {
	animation-delay: 6s;
}

.threeov-entry-wall-right {
	transform: rotateY(90deg) translateZ(500px);
}

.threeov-entry-wall-left {
	transform: rotateY(-90deg) translateZ(500px);
}

.threeov-entry-wall-top {
	transform: rotateX(90deg) translateZ(500px);
}

.threeov-entry-wall-bottom {
	transform: rotateX(-90deg) translateZ(500px);
}

.threeov-entry-wall-back {
	transform: rotateX(180deg) translateZ(500px);
}

.threeov-load-world-button {
	background-color: #b7ff00;
	border-radius: 20px;
	padding: 5px 10px;
	border: 1px solid #98d400;
	color: #fff;
	cursor: pointer;
	margin-top: 20px;
	color: #451a00;
	font-weight: 600;
	margin-right: 5px;
	letter-spacing: .01em;
	max-width: 120px;
	text-transform: uppercase;
	box-shadow: 0px 0px 17px 9px rgb(15 0 0 / 57%);
}

.threeov-entry-flow button:hover {
	background-color: #d1ff5b;
	border: 1px solid #98d400;
	// add dropshadow
	// box-shadow: 0px 0px 5px 1px #7f7f7f5e;
	box-shadow: 0px 0px 17px 9px rgb(15 0 0 / 57%);

	color: white;
	cursor: pointer;
	color: #451a00;
	font-weight: 600;
}

@keyframes glow {
	0% {
		box-shadow: 0px 0px 8px 5px rgb(15 0 0 / 57%);
	}
	50% {
		box-shadow: 0px 0px 8px 5px rgba(95, 95, 95, 0.851);
	}
	100% {
		box-shadow: 0px 0px 8px 5px rgb(15 0 0 / 57%);
	}
}

.threeov-entry-flow input {
	box-shadow: 0px 0px 8px 5px rgb(15 0 0 / 57%);
}

.threeov-entry-flow input:focus {
	animation: glow 2s infinite linear;
}

.threeov-entry-pfp {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #6d6d6d;
	border: 3.5px solid #98d400;
	box-shadow: 0px 0px 17px 9px rgb(15 0 0 / 57%);
	margin: 0 auto;
	margin-top: 20px;
	background-position: center;
	background-size: cover;
	padding: 0px;
	padding-bottom: 5px;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-bottom: 10px;
}

.threeov-entry-flow-instruction {
	font-size: 0.7em;
    // background-color: #161616;
    // border-radius: 8px;
    // padding: 9px;
	margin-top: 20px;
}
