
 .wp-block-three-object-block {
	border: 1px dotted #f00;
}
 .glb-preview-container {
	 padding: 100px;
	 text-align: center;
	 align-items: center;
	 align-content: center;
	 background-color:#f2f2f2;
 }

 .glb-preview-container button{
	padding: 15px;
	border-radius: 30px;
}

.three-object-viewer-button {
	color: black;
	border: solid 1.5px black;
	border-radius: 8px;
	cursor: pointer;

}

.three-html-block-inner-wrapper{
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;
}

.wp-block-three-object-viewer-sky-block, .wp-block-three-object-viewer-model-block, .wp-block-three-object-viewer-three-image-block, .wp-block-three-object-viewer-three-audio-block, .wp-block-three-object-viewer-three-portal-block, .wp-block-three-object-viewer-three-video-block, .wp-block-three-object-viewer-three-html-block  {
	display: flex;
	float: left;
	padding-left:10px;
	height: auto;
    padding-right: 10px;
    // background-color: rgb(42, 42, 42);
}

.wp-block-three-object-viewer-environment .block-editor-inner-blocks {
	background-color: rgb(42, 42, 42);
	height: 210px;
	overflow: scroll;
}

.three-object-viewer-inner-edit-container {
	margin: 9% auto;
}
.wp-block-three-object-viewer-environment .block-editor-inner-blocks .block-editor-button-block-appender {
	width: 60px;
	height: 60px;
}

.wp-block-three-object-viewer-environment .block-editor-inner-blocks .block-editor-button-block-appender svg{
	width: 40px;
	height: 40px;
}
.wp-block-three-object-viewer-environment .block-editor-inner-blocks .block-editor-button-block-appender{
	margin: 0px 0px -60px;
}
.wp-block-three-object-viewer-environment {
	background-color: rgb(42, 42, 42);
}

.three-object-viewer-inner {
	background-color: #3f3f3f;
	padding: 10px;
	color: white;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-top: 20px;
	max-width: 130px;
	width: 130px;
	height: 100px;
	font-size: 0.8em;
	text-align: center;
	border-radius: 8px;
	box-shadow:0px 1px 5px 1px #1e1e1e;
}

.three-object-viewer-inner svg {
	max-height: 30px;
	filter: invert(88%) ;
}

.three-object-viewer-inner p {
	font-size: 0.8em;
}

.glb-preview-container button:hover{
	border-radius: 30px;
	background-color:rgb(156, 199, 0);
	cursor: pointer;
}
.three-object-block-tip {
	overflow-wrap: break-word;
	background-color: black;
	color: white;
	padding: 10px;
	font-weight: 500;
	max-width: 160px;
	font-size: 12px;
	margin-top: 0px;
	margin: 0 auto;
	text-align: center;
}

.three-object-block-url-input {
	padding-bottom: 20px;
}

.three-object-block-url-input input{
	height: 40px;
}
