
.three-object-block-tip {
	overflow-wrap: break-word;
	background-color: black;
	color: white;
	padding: 10px;
	font-weight: 500;
	max-width: 160px;
	font-size: 14px;
	margin-top: 0px;
	margin: 0 auto;
	text-align: center;
}
