.wp-block-three-object-viewer-three-mirror-block {
	display: flex;
	float: left;
	padding-left:10px !important;
	height: auto;
    padding-right: 10px !important;
}
.three-object-viewer-edit-panel .wide-slider {
    display: block;
}
